[Unit]
Description=Etcd Server
After=network.target

[Service]
ExecStart=/bin/runc run "$NAME"
Restart=on-failure
WorkingDirectory=$DESTDIR
ExecStop=/bin/runc kill "$NAME"

[Install]
WantedBy=multi-user.target

