[Unit]
Description=Docker service
After=network.target

[Service]
ExecStart=$EXEC_START
ExecStop=$EXEC_STOP
Restart=on-failure
WorkingDirectory=$DESTDIR
RuntimeDirectory=docker
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0
MountFlags=slave
SELinuxContext=system_u:system_r:docker_t:s0

[Install]
WantedBy=multi-user.target
