[Unit]
Description=Flanneld Server
After=$AFTER

[Service]
ExecStart=$EXEC_START
ExecStop=$EXEC_STOP
Restart=on-failure
WorkingDirectory=$DESTDIR
RuntimeDirectory=${RUN_DIRECTORY}/${NAME}

[Install]
WantedBy=multi-user.target
