[Unit]
Description=Flanneld Server
Requires=etcd-system.service
After=etcd-system.service

[Service]
ExecStart=/bin/runc run $NAME
Restart=on-failure
WorkingDirectory=$DESTDIR
ExecStop=/bin/runc kill "$NAME"

[Install]
WantedBy=multi-user.target

