[Unit]
Description=Flanneld Server
Requires=etcd.service
After=etcd.service

[Service]
ExecStart=/bin/runc start $NAME
Restart=on-failure
WorkingDirectory=$DESTDIR
ExecStop=/bin/runc kill "$NAME"

[Install]
WantedBy=multi-user.target

