[Unit]
Description=Hello World System Container

[Service]
ExecStart=/bin/runc run "$NAME"
Restart=on-failure
WorkingDirectory=$DESTDIR
ExecStop=/bin/runc kill "$NAME" 9

[Install]
WantedBy=multi-user.target

