[Unit]
Description=WALA Agent
Wants=network-online.target sshd.service sshd-keygen.service
After=network-online.target

[Service]
Environment=PYTHONPATH=$DESTDIR/rootfs/usr/lib/python2.7/site-packages/
Environment=WALA_ROOT=$DESTDIR/rootfs
ExecStart=/usr/bin/python  -u usr/sbin/waagent -daemon
Restart=always
RestartSec=5
WorkingDirectory=/var/lib/containers/atomic/wala-container.0/rootfs

[Install]
WantedBy=multi-user.target

